body {
    background: #2f3238;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform:uppercase;
}
.main{
    width: 1124px;
    margin: 0 auto;
    height: 400px
}
img{
    width: 480px; 
    height: 360px; 
    cursor: pointer;
}
figure{
    position: relative;
    width: 480px;
    height: 360px;
    float: left;
    overflow: hidden;
}
h2{
    margin: 0;
    font-size: 30px
}
/*milo*/
.milocontainer{
    background-color:#2e5d5a;
}
.milocontainer img{

    transition: opacity 0.35s, transform 0.35s; 
    transform: scale(1.12);
}
.milocontainer img:hover{
  opacity: 0.5;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.milocontainer h2{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px 50px;
}
.milocontainer p{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 50%;
    padding: 20px 10px 20px 20px;
    border-right: 2px solid white;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}
.milocontainer:hover p{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*chico*/
.chicocontainer{
    background-color: #3085a3
}
.chicocontainer img{
    transition:opacity 0.35s,transform 0.35s;
    transform:scale(1.12);
}
.chicocontainer h2{

    margin: 20px 50px;
}
.chicocontainer:hover img{
    opacity: 0.5;
    transform:scale(1);
}
.chicocontainer figcaption{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform:scale(1);
    transition:0.35s;
}

.chicocontainer:hover figcaption{
    transform:scale(0.8);
    border: 1px solid white
}
.chicocontainer p{
    opacity: 0;
    font-size: 30px;
    transform:scale(1.1);
    transition:0.35s;
}
.chicocontainer:hover p{
    opacity: 1;
    transform:scale(1) translate3d(0,0,0);
    
}
/*sarah*/
.sarahcontainer{
    background-color: #42b078
}

.sarahcontainer img{
    transform:scale(1.12);
    transition:0.35s;
}
.sarahcontainer:hover img{
    opacity: 0.5;
    transform:scale(1);
}
.sarahcontainer figcaption{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:50px
}
.sarahcontainer p{
    opacity: 0;
    transition:0.35s;
    transform:translate3d(300px,0,0);
}
.sarahcontainer:hover p{
    opacity: 1;
    transform:translate3d(0,0,0);
}

.sarahcontainer h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}

.sarahcontainer h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.sarahcontainer:hover h2::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/*dexter*/
.dextercontainer{
    background: linear-gradient(to bottom,rgba(37,141,200,1),rgba(104,60,19,1))
}
.dextercontainer img{
    transition:0.35s;
}
.dextercontainer:hover img{
    opacity: 0.5;
}
.dextercontainer figcaption{
    padding: 3em;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 65%

}
.dextercontainer figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 20px;
    left: 30px;
    height: calc(50% - 30px);
    border: 7px solid #fff;
    content: '';
    transition: transform 0.35s;
    transform: translate3d(0,-100%,0);
}

.dextercontainer:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.dextercontainer p{
    position: absolute;
    bottom: 60px;
    left: 60px;
    transition:0.35s;
    opacity: 0;
    transform:translate3d(0,-100px,0);
}
.dextercontainer:hover p{
    opacity: 1;
    transform:translate3d(0,0,0);
}

/*romeo*/
.romeocontainer{
    background-color: #3085a3
}
.romeocontainer img{
    transition:0.35s;
    transform:scale(1.12);
}
.romeocontainer:hover img{
    opacity: 0.5;
    transform:scale(1);
}

.romeocontainer figcaption::before,
.romeocontainer figcaption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #fff;
    content: '';
    transition:0.35s;
    transform: translate3d(-50%,-50%,0);
}

.romeocontainer:hover figcaption::before {
    opacity: 0.5;
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

.romeocontainer:hover figcaption::after {
    opacity: 0.5;
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}
.romeocontainer h2,.romeocontainer p{
    transition:0.35s;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}
.romeocontainer h2{
    transform:translate3d(0,-60px,0);
}
.romeocontainer p{
    transform:translate3d(0,60px,0);
}
.romeocontainer:hover h2{
    transform:translate3d(0,-30px,0);
}
.romeocontainer:hover p{
    transform:translate3d(0,30px,0);
}

/*bubba*/
.bubbacontainer{
    background-color: #9e5406
}
.bubbacontainer img{
    transition:0.35s;
    transform:scale(1.12);
}
.bubbacontainer:hover img{
    opacity: 0.5;
    transition:0.35s;
    transform:scale(1);
}
.bubbacontainer figcaption::before,.bubbacontainer figcaption::after{
    position: absolute;
    top:30px;
    left:30px;
    right: 30px;
    bottom: 30px;
    content: '';
    opacity: 0;
    transition:0.35s;
}
.bubbacontainer figcaption::before{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform:scale(0,0);
}
.bubbacontainer figcaption::after{
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform:scale(0,0);
}
.bubbacontainer:hover figcaption::before,.bubbacontainer:hover figcaption::after{
    opacity: 1;
    transform:scale(1);
}
.bubbacontainer h2{
    position: absolute;
    top: 120px;
    left: 100px;
    transition:0.35s;
    transform:translate3d(0,-20px,0);
}

.bubbacontainer p{
    position: absolute;
    bottom: 120px;
    left: 100px;
    transition:0.35s;
    transform:translate3d(0,30px,0);
    opacity: 0
}
.bubbacontainer:hover h2,.bubbacontainer:hover p{
    transform:translate3d(0,0,0);
    opacity: 1
}


.Apollocontainer figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.Apollocontainer:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}